<!doctype html>

<link rel="stylesheet" href="/static/css/reset.css?q=1280549780"
   type="text/css" media="screen" charset="utf-8" />


<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}" >

<h2>{{ name }}</h2>