<html>
   <body>
      
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Person Information</h3>
         Name<br>
         <input type = "text" name = "nm" /></br>
         
         City<br>
         <input type = "text" name = "city" /><br>
         
         <input type = "submit" value = "submit" /><br>
      </form>
      
   </body>
</html>