<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('show_all') }}"> 
      </a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Persons (<a href = "{{ url_for('new') }}">Add Person
         </a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>City</th>
            
               
            </tr>
         </thead>
         
         <tbody>
            {% for person in Persons %}
               <tr>
                  <td>{{ person.name }}</td>
                  <td>{{ person.city }}</td>
               
                  
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>